.toggle-ios {
  display: none;
}
.toggle-ios + .toggle-btn {
  position: relative;
  outline: 0;
  display: inline-block;
  width: 2.5em;
  margin: 0 auto;
  height: 1.3em;
  cursor: pointer;
  user-select: none;
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
  transform: translateY(5px);
}
.toggle-ios + .toggle-btn:after {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.toggle-ios:checked + .toggle-btn {
  background: #1dbf73;
}
.toggle-ios:checked + .toggle-btn:after {
  left: 50%;
}
